image: ubuntu:16.04

before_script:
  - apt update
  - apt install -y python python3 python-pip python-tox

py27:
  script:
    - tox -e py27

py34:
  script:
    - tox -e py34

pep8:
  script:
    - tox -e pep8
